<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Book Lending Information System</title>
</head>
<body style="background-color:beige;">
	<div class="container pt-4 text-center">
        <div class="p-4">
            <h2>Ibrahim Ali - 301022172 - Assignment 4</h2>
        </div>
        <div class="p-4">
            <h2>Welcome to Book Lending Information System</h2>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-4 text-center">
					<a href="/list_books_library" class="btn btn-lg btn-primary">List Library Books</a>
                </div>
                <div class="col-4 text-center">
					<a href="/list_books_availability" class="btn btn-lg btn-primary">List Books Availability</a>
                </div>
                <div class="col-4 text-center">
					<a href="/list_transactions" class="btn btn-lg btn-primary">List Customers Transaction</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>